{% extends "page/base4.html" %}
{% load static %}

{% block content %}



<div id="page-content-wrapper" style="margin-top: 76px">
    <div><img src="{% static 'page/city.jpg' %}" style="width: 100%" ></div>
            <div class="container-fluid">




                <div class="shadow-sm p-3 sm-5 bg-white rounded" style="margin-top: 20px;">

                    <div class="row">
                        <div class="col-6">
                            <div style="margin-top: 50px">
                                <p class="fa-stack fa-4x" style="float: right;">
                                    <i class="fas fa-angle-double-right fa-stack-2x" data-aos="fade-up-right" style="color: #ffbf00; font-size: 1.5em;" ></i>
                                </p>
                                <img src="{% static 'page/perform_blue.jpg' %}" class="rounded img-responsive" style="height: 60%; margin-left:-15px; margin-bottom:-15px">
                            </div>
                        </div>
                        <div class="col-6"   style="border-left: 1px solid  #D0D0D0; border-width: thin; ">
                            <div style="margin-top: 50px;">
                                <table style="margin-left:9px; margin-bottom: -16px; ">
                                    <tr>
                                        <td width="50%">
                                            <span class="spinner-text" style="font-size:32px; margin-left: 20px; margin-right: 60px"><b>Oferta dla Inwestora</b></span>
                                            <p class="fa-stack fa-3x ">
                                                <i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>
                                                <i class="fas fa-user-tie fa-stack-1x" style="color: #505050;" ></i>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <hr  data-aos="fade-left slow" style="margin-left: -150px" ><br>
                                <div style="margin-left: 40px">
                                - ghfhgfhgfhgfhjgf<br>
                                - fghfhgfhjfjhfjf<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div style=" display: inline; float: right">-->


                            <!--<div class="text-center">-->
                            <!--<span href="{% url 'offer' %}#investor" class="shadow mb-5" style="display: inline-block; border-radius: 15px; width: 250px; height: 180px; margin-left: 28px; text-align: center; background: #4169E1; "><br><br>-->
                                <!--&lt;!&ndash;<img src="{% static 'page/investor.png' %}" class="img-fluid man" style="margin-top: -30px; background-color: orange">&ndash;&gt;-->
                                <!--<i class="fas fa-user-tie fa-3x" style="color: white"></i>-->
                                <!--<i class="fas fa-money-bill-wave fa-2x" style="color: white"></i><br>-->
                                <!--&lt;!&ndash;<span class="" style="font-family: Satisfy; font-size: 24px; color: #212121; line-height:50px"> Inwestor</span>&ndash;&gt;-->
                            <!--</span>-->
                            <!--</div>-->

                        <!--<h1 id="investor" style="margin-right:100px">Oferta dla Inwestora</h1>-->
                        <!--<p class="fa-stack fa-4x text-center">-->
                            <!--<i class="fas fa-circle fa-stack-2x" style="color: #4169E1;"></i>-->
                            <!--<i class="fas fa-user-tie fa-stack-1x" style="color: white;" ></i>-->

                        <!--</p>-->



                    <!--</div>-->
                    <!--<div style="display: inline; ">-->
                    <!--<img src="{% static 'page/perform_blue.jpg' %}" class="rounded img-responsive" style="height: 60%; ">-->
                    <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="container-fluid">
                <div class="shadow-sm p-3 sm-5 bg-white rounded" style="margin-top: 20px;">


                    <div class="row">
                        <div class="col-6">
                            <div style="margin-top: 50px">
                                <p class="fa-stack fa-4x" style="float: right;">
                                    <i class="fas fa-angle-double-right fa-stack-2x" data-aos="fade-up-right" style="color: #ffbf00; font-size: 1.5em;" ></i>
                                </p>
                                <img src="{% static 'page/cistern.jpg' %}" class="rounded img-responsive" style="height: 60%; margin-left:-15px; margin-bottom:-15px">
                            </div>
                        </div>
                        <div class="col-6"   style="border-left: 1px solid  #D0D0D0; border-width: thin; ">
                            <div style="margin-top: 50px;">
                                <table style="margin-left:9px; margin-bottom: -16px; ">
                                    <tr>
                                        <td width="50%">
                                            <span class="spinner-text" style="font-size:32px; margin-left: 20px; margin-right: 60px"><b>Oferta dla Architekta</b></span>
                                            <p class="fa-stack fa-3x ">
                                                <i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>
                                                <i class="fas fa-user-edit fa-stack-1x" style="color: #505050;" ></i>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <hr  data-aos="fade-left" style="margin-left: -150px" ><br>
                                <div style="margin-left: 40px">
                                - ghfhgfhgfhgfhjgf<br>
                                - fghfhgfhjfjhfjf<br>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--<div style=" display: inline; float: right">-->

                        <!--<h2 id="investor" style="margin-top: 100px; margin-left: 100px; ">-->

                            <!--<div class="text-center">-->
                            <!--<span href="{% url 'offer' %}#architect" class="shadow mb-5" style="display: inline-block; border-radius: 15px; width: 250px; height: 180px; margin-left: 28px; text-align: center; background: #ffbf00"><br><br>-->
                                <!--<i class="fas fa-user-edit fa-3x" style="color:	#505050; padding-bottom: 50px"></i>-->
                                <!--<i class="fas fa-drafting-compass fa-2x" style="color:	#505050"></i><br>-->
                            <!--</span>-->
                            <!--</div>-->


                        <!--<p class="fa-stack fa-4x text-center">-->
                            <!--<i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>-->
                            <!--<i class="fas fa-user-edit fa-stack-1x" style="color: white;" ></i>-->

                        <!--</p>-->
                        <!--&lt;!&ndash;<p style="font-size: 42px; color: black">Inwestor</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;<h2 id="architect">Oferta dla Architekta</h2>&ndash;&gt;-->

                    <!--</div>-->

                    <!--<img src="{% static 'page/cistern.jpg' %}" style="height: 70%; margin: -15px">-->


                </div>
            </div>
            <div class="container-fluid">
                <div class="shadow-sm p-3 sm-5 bg-white rounded" style="margin-top: 20px;">


                    <div class="row">
                        <div class="col-6">
                            <div style="margin-top: 50px">
                                <p class="fa-stack fa-4x" style="float: right;">
                                    <i class="fas fa-angle-double-right fa-stack-2x" data-aos="fade-up-right" style="color: #ffbf00; font-size: 1.5em;" ></i>
                                </p>
                                <img src="{% static 'page/industrial.jpg' %}" class="rounded img-responsive" style="height: 50%; margin-left:-15px; margin-bottom:-15px">
                            </div>
                        </div>
                        <div class="col-6"   style="border-left: 1px solid  #D0D0D0; border-width: thin; ">
                            <div style="margin-top: 50px;">
                                <table style="margin-left:9px; margin-bottom: -16px; ">
                                    <tr>
                                        <td width="50%">
                                            <span class="spinner-text" style="font-size:32px; margin-left: 20px; margin-right: 60px"><b>Oferta dla Wykonawcy</b></span>
                                            <p class="fa-stack fa-3x ">
                                                <i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>
                                                <i class="fas fa-user-ninja fa-stack-1x" style="color: #505050;" ></i>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <hr  data-aos="fade-left"  style="margin-left: -150px" ><br>
                                <div style="margin-left: 40px">
                                - ghfhgfhgfhgfhjgf<br>
                                - fghfhgfhjfjhfjf<br>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--<h2 id="performer">Oferta dla Wykonawcy</h2>-->
                        <!--<div class="row">-->
                            <!--<div class="col">-->
                                <!--<div style=" display: inline; float: left">-->
                                    <!--<div class="text-center">-->
                                        <!--<span class="shadow mb-5 man" style="display: inline-block; border-radius: 15px; width: 250px; height: 180px; margin-left: 28px; text-align: center; background: #ffbf00"><br><br>-->
                                            <!--<i class="fas fa-user-ninja fa-3x" style="color: #505050"></i>-->
                                            <!--<i class="far fa-building fa-3x" style="color: #505050"> </i><br>-->
                                        <!--</span>-->
                                    <!--</div>-->


                                    <!--<p class="fa-stack fa-4x text-center">-->
                                        <!--<i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>-->
                                        <!--<i class="fas fa-user-ninja fa-stack-1x" style="color: #505050" ></i>-->
                                    <!--</p>-->
                                    <!--gdghdghdhgdhg dghdgdhgd ghdghdghdg dghdhdgfhdgh dgghdghdghdhgd dghdhdhd dghdhgdg d hgd-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                            <!--&lt;!&ndash;<div style="float: right">&ndash;&gt;-->
                                <!--<img src="{% static 'page/industrial.jpg' %}" style="height: 50%;">-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="container-fluid">
                <div class="shadow-sm p-3 sm-5 bg-white rounded" style="margin-top: 20px;">

                    <div class="row">
                        <div class="col-6">
                            <div style="margin-top: 50px">
                                <p class="fa-stack fa-4x" style="float: right;">
                                    <i class="fas fa-angle-double-right fa-stack-2x" data-aos="fade-up-right" style="color: #ffbf00; font-size: 1.5em;" ></i>
                                </p>
                                <img src="{% static 'page/individual.jpg' %}" class="rounded img-responsive" style="height: 60%; margin-left:-15px; margin-bottom:-15px">
                            </div>
                        </div>
                        <div class="col-6"   style="border-left: 1px solid  #D0D0D0; border-width: thin; ">
                            <div style="margin-top: 35px;">

                                <table style="margin-left:9px; margin-bottom: -16px; ">
                                    <tr>
                                        <td width="50%">
                                            Oferta dla<br>
                                            <span style="font-size:32px; margin-left: 20px; margin-right: 60px"><b>Klienta Indywidualnego</b></span>
                                            <p class="fa-stack fa-3x " style="">
                                                <i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>
                                                <i class="fas fa-user-astronaut fa-stack-1x" style="color: #505050" ></i>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <hr  data-aos="fade-left" style="margin-left: -150px" ><br>
                                <div style="margin-left: 40px">
                                - ghfhgfhgfhgfhjgf<br>
                                - fghfhgfhjfjhfjf<br>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!--<h2 id="individual">Oferta dla Klienta Indywidualnego</h2>-->
                        <!--<div style=" display: inline; float: right">-->
                            <!--<div class="text-center">-->
                                <!--<span class="shadow mb-5 man" style="display: inline-block; border-radius: 15px; width: 250px; height: 180px; margin-left: 28px; text-align: center; background: #ffbf00"><br><br>-->
                                    <!--<i class="fas fa-user-astronaut fa-3x" style="color: #505050"> </i><br>-->
                                <!--</span>-->
                            <!--</div>-->


                            <!--<p class="fa-stack fa-4x text-center">-->
                                <!--<i class="fas fa-circle fa-stack-2x" style="color: #ffbf00"></i>-->
                                <!--<i class="fas fa-user-astronaut fa-stack-1x" style="color: #505050" ></i>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--<img src="{% static 'page/individual.jpg' %}" style="height: 70%">-->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}