<nav class="navbar navbar-expand-lg navbar-dark py-md-0" style="background-color: 	 #005c99">
  <a class="navbar-brand" href="#">

      <!-- Sidebar toggle button -->
      <label type="" class="container_toogle" id="menu-toggle" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
      </label>
  </a>


  <!-- Logo -->
  <a class="navbar-brand" href="{% url 'details' %}">
    <p class="fa-stack">
        <i class="fa fa-square fa-stack-2x" id="logoIcon"></i>
        <i class="fa fa-chevron-up fa-rotate-90 fa-stack-1x" id="logoIconB"></i>
    </p>
    <span id="logo"> BMB </span>Pracownia Projektowa
  </a>

  <!-- toggle button - navbar -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar items -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto bar-item" id="bar">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'details' %}">
            <i class="fas fa-home fa-2x"></i><br>
              Główna
            <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="a" href="{% url 'about' %}">
            <span class="fas-stack">
                <i class="fas fa-user-alt fas-stack-2x fa-2x"></i>

                <i class="fas fa-info fas-stack-1x"></i>
            </span><br>
            O nas
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-th-list fa-2x"></i><br>
            Oferta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #005c99;">
          <a class="dropdown-item" href="{% url 'offer' %}#investor" style="text-align: left">Oferta dla Inwestora</a>
          <a class="dropdown-item" href="{% url 'offer' %}#architect" style="text-align: left">Oferta dla Architekta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'offer' %}#performer" style="text-align: left">Oferta dla Wykonawcy</a>
          <a class="dropdown-item" href="{% url 'offer' %}#individual" style="text-align: left">Oferta dla Klienta Indywidualnego</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}">
            <i class="fas fa-suitcase fa-2x"></i><br>
              Projekty
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'references' %}">
            <i class="fas fa-scroll fa-2x"></i><br>
            Referencje
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'message' %}">
            <i class="fas fa-globe fa-2x"></i><br>
            Kontakt
        </a>
      </li>
    </ul>
    <form method="GET" action="{% url 'search' %}" class="form-inline my-2 my-lg-0" style="margin-left: 150px;">
      <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
  </div>
</nav>
